<h1>
  Some text from app-root {{title}}!
</h1>

<app-create-roll-item (onRollCreated)="insertRollScore($event)"></app-create-roll-item>

<!-- *ngIf="currentPlayer='true'" -->
<!-- *ngIf="currentPlayer='false'" -->



<table>

  <tr>
    <td></td>
    <td colspan="3">frame1</td>
    <td colspan="3">frame2</td>
    <td colspan ="3">frame3</td>
    <td colspan ="3">frame4</td>
    <td colspan ="3">frame5</td>
  </tr>

  <tr>
    <td>Player:1</td>
    <td *ngFor="let score of bowlingGamePlayer1.rolls">{{score.roll}}</td>
  </tr>

  <tr>
    <td>Player:2</td>
    <td *ngFor="let score of bowlingGamePlayer2.rolls">{{score.roll}}</td>
  </tr>


</table>
