
<h1>Insert your Roll score (dashboard for 2 players)</h1>
<div class="player1" *ngIf="bowlingGamePlayer1.isActive" >
  <h2>Input Player 1:</h2>
<app-create-roll-item (onRollCreated)="insertRollPlayer1($event)"></app-create-roll-item>
</div>

<div *ngIf="bowlingGamePlayer2.isActive" class="player2">
  <h2>Input Player 2: </h2>
<app-create-roll-item (onRollCreated)="insertRollPlayer2($event)"></app-create-roll-item>
</div>



<table>

  <tr>
    <td></td>
    <td colspan="3">frame1</td>
    <td colspan="3">frame2</td>
    <td colspan ="3">frame3</td>
    <td colspan ="3">frame4</td>
    <td colspan ="3">frame5</td>
  </tr>

  <tr class="player1">
    <td>Player:1</td>
    <td *ngFor="let score of bowlingGamePlayer1.rolls">{{score.roll}}</td>
  </tr>

  <tr class="player2">
    <td>Player:2</td>
    <td *ngFor="let score of bowlingGamePlayer2.rolls">{{score.roll}}</td>
  </tr>


</table>


<h1>rollsPlayer1</h1>
<h2>{{rollsPlayer1 | json}}</h2>
<!--
<h1>rollsPerFramePlayer1</h1>
<h2>{{rollsPerFramePlayer1 | json}}</h2>
-->
<h3>indexRollFrame</h3>
<h3>{{indexRollFrame}}</h3>


<h1>totalPins</h1>
<h2>{{totalPins.totalPins}}</h2>
<h1>rolls player 2 length: {{rollsPlayer2.length}} /// max nr rolls {{maxNumberRollsPlayer2}}""""-1""""</h1>
<h1>rolls player 1 length: {{rollsPlayer1.length}} /// max nr rolls {{maxNumberRollsPlayer1}}""""-1""""</h1>
<h1>index frame player 1/ player2</h1>
<h2>{{indexFramePlayer1 }}/ {{indexFramePlayer2}}</h2> -->
